<div class="navbar navbar-expand navbar-light bg-light">
    <table>
        <tbody>
            <tr>
                <td>
                    <h2 class="navTitle" (click)="goHome()">{{pageTitle}}</h2>
                </td>
                <td>
                    <ul class="navList">
                            
                    </ul>
                </td>
                <td class="align-right">
                    <button class="btn btn-outline-success" (click)="onNew()"> <i class="fa">New Post</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
