.preview-body{
    text-align: center;
}
.post-header{
    margin-left: 20px;
    text-align: center;
}
tbody tr td{
    margin: auto;
}

table{
    table-layout: fixed;
    width: 100%;
}

.btn{
    margin: 10px;
}

.align-right{
    text-align: end;
}
